@media all and (max-width: 1024px) {
    .header {
        width:10%;
        padding:0;
        margin:0;
    }
}

@media all and (max-width: 480px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "kit"
        "burger"
        "icon-bar"
        "grid-container"
        "grid-item"
    }
    
    .kit {
        display:none;
    }
    .burger {
        display: flex;
    }
    .exam{
        display: none;
    }
    .icon-bar {
        display: none;
    }
    .grid-container {
        display: flex;
    }
    .grid-item {
        display: flex;
    }
}